FRONTEND_APP_ENV=development
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000/api
NEXT_PUBLIC_AGRI_API_URL=http://localhost:8080
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=
NEXT_PUBLIC_IMAGEKIT_AUTH_ENDPOINT=http://localhost:5000/api/imagekit/auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_ONESIGNAL_APP_ID=
CLERK_SECRET_KEY=
BACKEND_NODE_ENV=development
BACKEND_MONGO_URI=mongodb://mongo:27017/smart-agriwaste
BACKEND_CORS_ORIGINS=http://localhost:3000,https://smart-agriwaste.vercel.app,https://smart-agriwaste-full.onrender.com
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
CLERK_WEBHOOK_SECRET=
ONESIGNAL_REST_API_KEY=
AZURE_TRANSLATOR_ENDPOINT=
AZURE_TRANSLATOR_KEY=
AZURE_TRANSLATOR_REGION=
DATASET_API_MONGO_URI=mongodb://mongo:27017/smart-agriwaste
